#Ignore Mac System files
.DS_store

#Ignore node_modules folder
node_modules
#ignore example.json
cypress\fixtures\example.json

#Ignore all text files
*.txt

#Ignore files related to API keys
.env

#Ignore SASS config files
.sass-cache

#Ignore screenshots
screenshots

#Ignore reports
mochawesome-report

#Ignore videos
videos

#Modules in Progress

e2eTest.spec.js


cypress/fixtures/example.json
